<div style="margin: 100px;" *ngIf="voiceRecService.isHome">
    <h1>Hola, soy Mark</h1>
    <h3>Soy un sistema de reconocimiento de sentimientos</h3>
    <!-- <button style="margin: 10px;" (click)="startService()">Start</button>
    <button style="margin: 10px;" (click)="stopService()">Stop</button> -->
    
    <!-- <ng-template> -->
        <div *ngIf="!voiceRecService._isMarkListening">
            <p>Para comenzar, diga "hey, Mark"</p>
        </div>
        
        <div *ngIf="voiceRecService._isMarkListening">
            <h2>Hola, usuario, ¿en qué puedo ayudarte?</h2>
            <h4>Puedo guiarte a las siguientes páginas, sólo tienes que indicármelo.</h4>
            <ul>
                <li>Reconocimiento de sentimiento en video</li>
                <li>Reconocimiento de sentimiento en imagen</li>
                <li>Reconocimiento de sentimiento en voz</li>
                <li>Reconocimiento de sentimiento en texto</li>
            </ul>
        </div>
    <!-- </ng-template> -->
    <!-- <p>{{ voiceRecService._isMarkListening }}</p> -->
    <p>{{ voiceRecService.text }}</p>
</div>