<div>
    <ng-content></ng-content>
    <br>
    <p>{{ 'video.instructions' | translate }}</p>
    <br>

    <div class="video-capture">
        <!-- <video id="video" autoplay #video [width]="width" [height]="height"></video> -->
        <div class="original">
            <h2>{{ 'video.original' | translate }}</h2>
            <video id="video" autoplay #video></video>
            <canvas id="canvas" #canvas [width]="width" [height]="height" class="hide"></canvas>
        </div>
        
        <!-- <canvas id="canvas" #canvas class="hide"></canvas> -->
        <div *ngIf="shortLink">
            <h2>{{ 'video.processed' | translate }}</h2>
            <img src="{{ shortLink }}" alt="">
        </div>
    </div>

    <div class="snap-container" class="hide">
        {{ analyzePicture() }}
    </div>

</div>
