img {
    width: 80%;
}

.text-center {
    width: 80%;
    margin: auto;
    background-color: lightgrey;
    padding: 10px;
}

.text-center div {
    width: 100%;
}

.form-control {
    width: 30vw;
    margin: auto;
    margin-bottom: 10px;
}

.imgs {
    display: flex;
}

@media (max-width: 600px) {
    .imgs {
        display: block;
    }

    img {
        width: 100%;
    }
}