<div class="text-center">
    <div>
        <input class="form-control" type="file" 
                (change)="onChange($event)">
    </div>
  
    <button (click)="onUpload()" 
        class="btn btn-success"
        mat-raised-button color="primary">
        Upload
    </button>
</div>

<div class="container text-center jumbotron"
    *ngIf="shortLink">
    <div class="imgs" *ngIf="loading; else loading">
        <div>
            <h2>Imagen original</h2>
            <img src="{{ originalLink }}" alt="">
        </div>
        <div>
            <h2>Imagen resultante</h2>
            <img src="{{ shortLink }}" alt="">
        </div>
    </div>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>
  
<div class="container" *ngIf="loading && !shortLink">
    <mat-spinner></mat-spinner>
</div>

<mat-card class="warning msg-card" *ngIf="notFile">
    <p>Por favor, suba una imagen para continuar</p>
</mat-card>

<mat-card class="not-file msg-card" *ngIf="!imgFile">
    <p>El archivo debe ser de extensión .jpg, .jpeg o .png</p>
</mat-card>