<div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
</div>

<div class="container text-center jumbotron"
    *ngIf="shortLink">
    <div>
        <h2>Imagen original</h2>
        <img src="{{ originalLink }}" alt="">
    </div>
    <div>
        <h2>Imagen resultante</h2>
        <img src="{{ shortLink }}" alt="">
    </div>
</div>
  
<div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>