<div>
    <ng-content></ng-content>
    <br>
    <h6>{{ 'text.instructions' | translate }}</h6>
    <ul>
        <li>{{ 'text.voiceStart' | translate }}</li>
        <li>{{ 'text.clean' | translate }}</li>
        <li>{{ 'text.analyze' | translate }}</li>
        <li>{{ 'text.stopListening' | translate }}</li>
    </ul>
    <br>
    <p>{{ 'text.text' | translate }}</p>
    <p>{{ voiceRecService.analysisText }}</p>
</div>

<div *ngIf="!voiceRecService.isLoading; else loading"> 
    <div *ngIf="voiceRecService.isStarted"
         [ngClass]="{'positive': voiceRecService.isPos,
                    'negative': !voiceRecService.isPos}">
        <p>{{ 'text.analyzedText' | translate }} {{ voiceRecService.lastAnalyzedText }}</p>
        <p>{{ 'text.sentiment' | translate }} {{ voiceRecService.isPos ? 'text.positive' : 'text.negative' | translate }}</p>
    
        <div></div>
    </div>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>