<div>
    <p *ngIf="voiceRecService._isMarkListening">Estoy escuchando</p>
    <br>
    <h6>En el apartado inferior, verá escrito el texto que será analizado.</h6>
    <ul>
        <li>Para comenzar a escribir, escriba su texto.</li>
        <li>Para limpiar la sección, diga "Mark, borra todo"</li>
        <li>Para analizar el texto, diga "Mark, analiza el texto"</li>
        <li>Para que deje de escuchar, diga "nada"</li>
    </ul>
    <br>
    <p>Su texto:</p>

    <form class="example-form">
        <input type="text" name="" id="">
    </form>
</div>

<div *ngIf="voiceRecService.isStarted"
     [ngClass]="{'positive': voiceRecService.isPos,
                'negative': !voiceRecService.isPos}">
    <p>Texto analizado: {{ voiceRecService.lastAnalyzedText }}</p>
    <p>El sentimiento es {{ voiceRecService.isPos ? 'positivo' : 'negativo' }}</p>

    <div></div>
</div>
