<div>
    <p *ngIf="voiceRecService._isMariaListening" class="maria-listens">Estoy escuchando</p>
    <br>
    <h6>En el apartado inferior, verá escrito el texto que será analizado.</h6>
    <ul>
        <li>Para comenzar a escribir, escriba su texto.</li>
        <li>Para limpiar la sección, diga "María, borra todo"</li>
        <li>Para analizar el texto, diga "María, analiza el texto"</li>
        <li>Para que deje de escuchar, diga "nada"</li>
    </ul>
    <br>
    <p>Su texto:</p>

    <form class="example-form" (keydown.enter)="$event.preventDefault()">
        <mat-form-field class="example-full-width">
            <mat-label>Escriba su texto</mat-label>
            <input matInput #text>
        </mat-form-field>
    </form>
    <div *ngIf="voiceRecService.isTextAnalyzed">{{ sendTextData(text.value) }}</div>
</div>

<div *ngIf="!voiceRecService.isLoading; else loading">
    <div *ngIf="voiceRecService.isStarted"
         [ngClass]="{'positive': voiceRecService.isPos,
                    'negative': !voiceRecService.isPos}">
        <p>Texto analizado: {{ voiceRecService.lastAnalyzedText }}</p>
        <p>El sentimiento es {{ voiceRecService.isPos ? 'positivo' : 'negativo' }}</p>
    
        <div></div>
    </div>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>