<div style="margin: 100px;">
    <h1>{{ 'main.greeting' | translate }}</h1>
    <h3>{{ 'main.presentation' | translate }}</h3>
    
    <div *ngIf="!voiceRecService._isMariaListening">
        <p>{{ 'main.instruction' | translate }}</p>
    </div>
    
    <div *ngIf="voiceRecService._isMariaListening">
        <h2>{{ 'main.calling.introduction' | translate }}</h2>
        <h4>{{ 'main.calling.guide' | translate }}</h4>
        <ul>
            <li>{{ 'main.calling.video' | translate }}</li>
            <li>{{ 'main.calling.image' | translate }}</li>
            <li>{{ 'main.calling.voice' | translate }}</li>
            <li>{{ 'main.calling.text' | translate }}</li>
        </ul>
    </div>
</div>